body{
    background-image: url("../../../public/img/bg-desktop.png");
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.containerDiv{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.fyloDiv{
    display: flex;
    height: 25vh;
    width: 25vw;
    border-radius: 0px 150px 0px 0px;
    background-color: hsl(228, 56%, 26%);
    z-index: 2;
    margin-left: 10vw;
    flex-direction: column;
}

.fyloLogo{
    display: flex;
    margin-top: 1vh;
    height: 9vh;
    width: 14vw;
}

.fyloIcons{
    display: flex;
    margin-top: 4vh;
    height: -20vh;
    width: 18vw;
    align-items: center;
    justify-content: space-around;
}

.fyloIconsImg{
    display: flex;
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 5vh;
    width: 4vw;
    background-color: hsl(229, 57%, 11%);
    border-radius: 15px;
}


.progressDiv{
    display: flex;
    border-radius: 15px;
    height: 20vh;
    width: 40vw;
    background-color: hsl(228, 56%, 26%);
    margin-right: 5vw;
    color: hsl(229, 7%, 55%);
}






:root {
    --success: #00b894;
    --progress: #e17055;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  .container {
    max-width: 720px;
    margin: 0px auto;
    width: 100%;
  }
  
  .text-center { text-align:center; }
  
  .progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    width: 100%;
  }
  
  .progressbar {
    background-color: var(--progress);
    color: white;
    padding: 1rem;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
  }
  
  .progressbar[title="downloading"] {
     background-color: var(--progress);
  }
  
  .progressbar[title="downloaded"] {
     background-color: var(--success);
  }
    
  .mp4 {
    width: 100%;
  }
  
  .mp3 {
    width: 60%;
  }